@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body, html {
        background-image: linear-gradient(to bottom, var(--color2), var(--color3));

    }

    section#seclogin {
        width: 90vw;
        display: flex;
    }

    #h1-img::after {
        content: '';
        display: block;
        width: 6rem;
        height: 0.35rem;
        background-color: var(--color2);
        border-radius: 10px;
    
    }   

    #h1-img {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    img#cll {
        display: none;

    }

    img#tablet {
        display: block;
        width: 100%;
        margin: auto;
    }


    img#pc {
        display: none;

    }
    
    section#seclogin > div#img {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    section#seclogin > div#cadastro {
        width: 60%;

    }

}

@media screen  and (min-width:992px){
    body, html {
        background-image: linear-gradient(to bottom, var(--color2), var(--color3));
    }

    section#seclogin {
        width: 982px;
        display: flex;
        flex-direction: row-reverse;
    }

    section#seclogin > div#img {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    section#seclogin > div#cadastro {
        width: 55%;

    }

    #h1-img::after {
        content: '';
        display: block;
        width: 6rem;
        height: 0.35rem;
        background-color: var(--color2);
        border-radius: 10px;
    
    }   

    #h1-img {
        position: absolute;
        left: 550px;
        top: 15px;
    }

    img#cll {
        display: none;

    }

    img#tablet {
        display: none;

    }


    img#pc {
        display: block;
        width: 100%;
        margin: auto;
    }


}
