@charset "UTF-8";

@font-face {
    font-family: 'fontCont';
    src: url(../font/TheLeagueofMoveableType-Raleway/Raleway-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'fontCont1';
    src: url(../font/TheLeagueofMoveableType-Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'fontCont2';
    src: url(../font/TheLeagueofMoveableType-Raleway/Raleway-ExtraLight.ttf) format(truetype);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --color1: #36151E;
    --color2: #593F62;
    --color3: #7B6D8D;
    --color4: #8499B1;
    --color5: #A5C4D4;

    --font-light: 'fontCont';
    --font-extraLight: 'fontCont2';
    --font-medium: 'fontCont1';

}

body, html {
    background-color: var(--color2);
    height: 100vh;
    width: 100vw;
    font-family: var(--font-light);
}


main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#seclogin {
    width: 270px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.456);
    transition: width 0.3s, height 0.5s;
    transition-timing-function: ease;
} 

div#img {
    display: flex;
    background-color: var(--color5);
    height: 200px;
}

#h1-img {
    position: absolute;
    left: 8px;
    top: 8px;
    color:  black;

}


#h1-img::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.35rem;
    background-color: var(--color2);
    border-radius: 10px;
}   


img#cll {
    justify-content: center;
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}

img#tablet {
    display: none;

}

img#pc {
    display: none;

}



section#seclogin > div#cadastro {
    padding: 10px;
    font-family: var(--font-medium);

}

#cadastro > h1 {
    text-align: center; 
    margin-bottom: 15px;   
}

#img > h1 > a {
    text-decoration: none;
    color: black;
}

#img > h1 > a:hover {
    color: var(--color2);
    text-decoration: underline;

}




.campo{
    background-color: var(--color2);
    margin: 8px 0px;
    border-radius: 5px;
    padding: 1px 5px;
    color: white;
}

div.c2 {
    margin-bottom: 15px;
}

#cadastro p {
    margin-bottom: 5px;

}


.campo > input {
    width: 76.82%;
    margin: 2.5px 0px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

}

a#esqueci-senha:hover {
    background-color: var(--color4);

}

input#entrar:hover {
    background-color: var(--color4);

}

a#esqueci-senha {

    display: block;
    margin: 5px auto;
    text-decoration: none;
    background-color: var(--color5);
    width: 100%;
    text-align: center;
    height: 32px;
    color: white;
    padding-top: 6px;
    border-radius: 15px;
    font-size: 1em;
}

input#entrar {
    width: 100%;
    display: block;
    text-align: center;
    margin: 5px auto;
    height: 32px;
    background-color: var(--color5);
    border: none;
    border-radius: 15px;
    color: white;
    padding-bottom: 3px;
    font-size: 1em;
    cursor: pointer;


}